<% total = 0 %>
<table>
<tr>
<th>Product Name</th>
<th>Product Price</th>
<th>Product Quantity</th>
</tr>
<% session[:shopping_cart].each do |cartItem|%>
<% index = session[:shopping_cart].find_index(Product.find(cartItem).id.to_i)%>
<tr>
<td><%= Product.find(cartItem).name %></td>
<% if Product.find(cartItem).sale_price != nil %>
<td><%= Product.find(cartItem).sale_price %></td>
<% total += (Product.find(cartItem).sale_price * session[:cart_quantity][index]) %>
<% else %>
<td><%= Product.find(cartItem).unit_price %></td>
<% total += (Product.find(cartItem).unit_price * session[:cart_quantity][index]) %>
<% end%>
<td><%= session[:cart_quantity][index]%></td>
</tr>
<% end %>
</table>
<p>Subtotal = <%= total %></p>
<% tax = 0 %>
<p>GST: <%=current_customer.province.gst%>%</p>
<% tax += current_customer.province.gst %>
<p>PST: <%=current_customer.province.pst%>%</p>
<% tax += current_customer.province.pst %>
<p>HST: <%=current_customer.province.hst%>%</p>
<% tax += current_customer.province.hst %>
<% total += total * tax / 100%>
<p>Total = <%= total.round(2) %></p>
<%= form_for :post, url: orders_path, html: {data: {turbo: false }} do |f|%>
<%= f.hidden_field :total_due, value: total %>
<%= f.hidden_field :order_date, value: DateTime.now %>
<%= f.hidden_field :customer_id, value: current_customer.id %>
<p>
<%= f.submit("Place Order")%>
</p>
<%end%>