<div class="column is-2">
    <div class="card">
     <% if product.image.present?%>
            <div class="card-image">
              <figure class="image is-2by3">
                <%= image_tag product.image, :size => '250x300' %>
              </figure>
            </div>
          <% end %>
        <div class="card-content">
          <div class="content">
            <h2 class="title"> <%=product.name %></h2>
            <p class="card-footer-item">
            <%= product.description %>
          </p>
          </div>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            Only <%= product.quantity%> remaining.
          </p>
          <% unless product.sale_price != nil %>
          <p class="card-footer-item">
            $<%= product.unit_price%>
          </p>
          <% else %>
          <p class="card-footer-item">On sale for $<%= product.sale_price %>!</p>
          <% end %>
        </footer>
    </div>
</div>