<div class="column is-2">
    <div class="card">
     <% if product.image.present?%>
            <div class="card-image">
              <figure class="image is-2by3">
                <%= image_tag(product.image, alt: product.name) %>
              </figure>
            </div>
          <% end %>
        <div class="card-content">
          <div class="content">
            <h2 class="title"><a href="/products/<%= product.id %>"><%= product.name %></a></h2>
          <% unless product.sale_price != nil %>
          <p class="subtitle">
            $<%= product.unit_price%>
          </p>
          <% else %>
          <p class="subtitle">On sale for $<%= product.sale_price %>!</p>
          <% end %>
            <% if params[:controller] == 'products' && params[:action] == 'show' %>
            <p class="card-footer-item">
            <%= product.description %>
            </p>
            <% end %>
          </div>
        </div>
        <footer class="card-footer">
          <%= form_with url: cart_index_path, method: :post do %>
          <%= hidden_field_tag(:id, product.id) %>
          <p class="card-footer-item"> <%= button_tag "Add to cart"%>
          </p>
          <% end %>
          <% if cart.include?(product)%>
          <% index = session[:shopping_cart].find_index(product.id.to_i) %>
          <% if session[:cart_quantity][index] > 1 %>
          <%= button_to cart_path(product), method: :put do %>
            Remove one from Cart
            <% end %>
          <% end %>
          <p class="card-footer-item">
          <%= button_to cart_path(product), method: :delete do %>
          Remove from Cart
          </p>
          <% end %>
          <% end %>
        </footer>
    </div>
</div>