<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1>Clocks'R'Us Furniture Superstore</h1>
  <ul>
  <li><a href="/pages/home">Home</a></li>
  <li><a href="/pages/about">About Us</a></li>
  <li><a href="/products/index/">All Products</a></li>
  <li><a href="/products/new/">What's new</a></li>
  <li><a href="/products/sale/">On Sale</a></li>
  </ul>
    <%= yield %>
  </body>
</html>
