<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1>Clocks'R'Us Furniture Superstore</h1>
  <nav class="navbar">
  <a  class="navbar-item" href="/pages/home">Home</a>
  <a class="navbar-item" href="/pages/about">About Us</a>
   <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">Products</a>
    <div class="navbar-dropdown">
      <a href="/products/index/">All Products</a>
      <a href="/products/new/">What's new</a>
      <a href="/products/sale/">On Sale</a>
      <a href="/products/updated/">Recently Updated</a>
    </div>
   </div>
  <a class="navbar-item" href="/categories/index/">Categories</a>
  <% if customer_signed_in? %>
    <p class="navbar-item">Logged in as '<strong><%= current_customer.email%>'</strong></p>
    <%= link_to "Edit profile", edit_customer_registration_path, :class => 'navbar-item' %>
    <%= button_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-item' %>
    <a class="navbar-item" href="/orders/new">Place order</a>
    <a class="navbar-item" href="/orders/index">My Orders</a>
  <% else %>
    <div class="navbar-item">
    <%= link_to "Sign Up", new_customer_registration_path, :class => 'navbar-item' %>
    <%= link_to "Login", new_customer_session_path, :class => 'navbar-item' %>
    </div>
  <% end %>
  </nav>
  <% if notice %>
     <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
     <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
